@media screen and (min-width: 550px) {
  body {
    display: flex;
    margin: 0;
    padding: 0;
  }
}

* {
  font-family: Verdana;
}

ul,li {
  list-style-type: none;
  list-style-position: inside;
  margin: 0;
  padding: 3px 0px 2px 0px;
  font-size: 14px;
}

header {
  position: fixed;
  z-index: 999;
  left: 0;
  right: 0;
  height: 65px;
  background-color: #4d5e7c;
  color: #FFFFFF;
  padding: 15px;
}

.flex-header {
  display: flex;
}

.flex-logo {
  flex-basis: 10%;
  text-align: center;
}

.header-spacer {
  flex-basis: 70%
}

img {
  width: 70px;
  height: 70px;
}




.content-wrapper {
  position: absolute;
  top: 95px;
  left: 0px;
  right:0px;
  bottom: 0px;
}

.sidebar-left {
  position: fixed;
  top: 95px;
  bottom: 0px;
  left: 0px;
  padding: 15px;
  width: 200px;
  background-color: #edf2fc;
  border-right: 2px solid #000;
}

.room-list {
  overflow: auto;
  height: 17rem;
}
.room-list li {
  display: flex;
  padding-bottom: 5px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}

.room-name {
  flex-basis: 80%;
  padding-top: 10px;
}

.room-buttons {
  flex-basis: 20%;
  flex-wrap: nowrap;
}

.new-room-form {
    border-top: 2px dashed grey;
    margin-top: 30px;
    text-align: center;
}




.sidebar-right {
  position: fixed;
  top: 95px;
  bottom: 0px;
  right: 0px;
  width: 150px;
  padding: 15px;
  background-color: #edf2fc;
  border-left: 2px solid #000;
}

.section-user {
  flex-basis: 20%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.active-user {
  padding-bottom: 5px;
}

.user-login {
  text-align: center;
  padding-bottom: 5px;
  margin-bottom: 10px;
  border-bottom: 1px solid rgba(0,0,0, 0.25);
}

.user-list ul,li {
  overflow:auto;
  list-style-type: none;
  list-style-position: inside;
  margin: 0;
  padding: 3px 0px 2px 0px;
  font-size: 14px;
}

.user-list li {
  border-bottom: 1px solid rgba(0,0,0, 0.25);
}





main {
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 232px;
  right: 182px;
  width: auto;
  background-color: #f9fbff;
}

.section-message-list {
  margin-bottom: 35px;
}

.message-row {
  display: flex;
  border-bottom: 1px solid rgba(0, 0, 0, .3);
  padding: 3px 0 3px 0;
}

.message-row-content {
  font-size: 14px;
  flex-basis: 75%;
  padding: 5px;
}

.message-row-metadata {
  display: flex;
  flex-direction: column;
  flex-basis: 20%;
  padding-right: 3px;
}

.message-row-username {
  color: #21385e;
  font-size: 12px;
  text-align: right;
}

.message-row-ts {
  font-size: 12px;
  text-align: right;
  color: #21385e;
}

.message-row-btns {
  display: flex;
  flex-direction: column;
  flex-basis: 5%;
  align-items: center;
}

.new-messages {
  position: fixed;
  bottom: 0px;
  left: 232px;
  right: 182px;
  height: 35px;
  background-color: #00F;
}

.new-message-input {
  box-sizing: border-box;
  position: absolute;
  right: 0px;
  left: 0px;
  width: 90%;
  height: 35px;
  font-size: 14px;
}

.message-submit-button {
  -webkit-appearance: none;
  position: absolute;
  right: 0px;
  width: 10%;
  height: 35px;
  background-color:#0d2f66;
  color:#FFF;
  font-weight:bold;
  border: solid #0d2f66 2px;
  font-size: 14px;
  vertical-align: top;
  text-align: center;
}


.update-button, .delete-button {
  background:none;
  border:none;
  color: rgba(0, 0, 0, 0.2);
  font-size: 13px;
  cursor: pointer;
  display: inline;
}

.update-button:hover, .delete-button:hover {
  color: rgba(0, 0, 0, 0.9);
}
