@media screen and (max-width: 400px) {
  body {
    display: flex;
    margin: 0;
    padding: 0;
  }
}

@media screen and (max-width: 815px) {
  .content-wrapper > main {
    right: 0px !important;
  }

  .messages > .new-messages {
    right: 0px !important;
  }

  .sidebar-right {
    right: -182px !important;
  }
}

@media screen and (max-width: 635px) {
  .content-wrapper > main {
    left: 152px !important;
  }

  .messages > .new-messages {
    left: 152px !important;
  }

  .content-wrapper > .sidebar-left {
    width: 120px !important;
  }
}

@media screen and (max-width: 552px) {
  .content-wrapper > main {
    left: 0px !important;
  }

  .messages > .new-messages {
    left: 0px !important;
  }

  .content-wrapper > .sidebar-left {
    left: -200px !important;
  }
}

* {
  font-family: Verdana;
}

ul,li {
  list-style-type: none;
  list-style-position: inside;
  margin: 0;
  padding: 3px 0px 2px 0px;
  font-size: 14px;
}

header {
  position: fixed;
  z-index: 999;
  left: 0;
  right: 0;
  height: 65px;
  background-color: #4d5e7c;
  color: #FFFFFF;
  padding: 15px;
}

.flex-header {
  display: flex;
}

.flex-logo {
  flex-basis: 10%;
  text-align: center;
}

.header-spacer {
  flex-basis: 70%
}

.header-spacer > h1 {
  padding-left: 20px;
  font-size: 30px;
  color: #8bb594;
}

.header-user {
  position: fixed;
  right: 20px;
  font-weight: bold;
  line-height: 70px;
  font-size: 22px;
}

img {
  width: 70px;
  height: 70px;
}




.content-wrapper {
  position: absolute;
  top: 95px;
  left: 0px;
  right:0px;
  bottom: 0px;
}

.sidebar-left {
  position: fixed;
  top: 95px;
  bottom: 0px;
  left: 0px;
  padding: 15px;
  width: 200px;
  background-color: #edf2fc;
  border-right: 2px solid #000;
  overflow-y: scroll;
}

.rooms {
  overflow: auto;
  height: 100%;
}

.room-list li {
  display: flex;
  margin: 3px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}

.room-name {
  padding-left: 10px;
}

.active-room-selection {
  background-color: #adc9d3;
  font-weight: bold;
  border-radius: 5px;
}

.room-name {
  flex-basis: 80%;
  padding-top: 10px;
}

.room-buttons {
  flex-basis: 20%;
  flex-wrap: nowrap;
}

.new-room-form {
    border-top: 2px dashed grey;
    margin-top: 30px;
    text-align: center;
}

.sidebar-right {
  position: fixed;
  top: 95px;
  bottom: 0px;
  right: 0px;
  width: 150px;
  padding: 15px;
  background-color: #edf2fc;
  border-left: 2px solid #000;
  overflow-y: scroll;
}

.section-user {
  flex-basis: 20%;
  flex-shrink: 10;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.active-user {
  padding-bottom: 5px;
}

.user-login {
  text-align: center;
  padding-bottom: 5px;
  margin-bottom: 10px;
  border-bottom: 1px solid rgba(0,0,0, 0.25);
}

.show-all-users-li {
  padding: 10px 0px 10px 12px;
  margin-bottom: 15px;
  background-color: rgba(67, 172, 183, 0.5);
  border-radius: 30px;
}

.user-list ul,li {
  list-style-type: none;
  list-style-position: inside;
  margin: 0;
  padding: 3px 0px 2px 0px;
  font-size: 14px;
}

.user-list li {
  display: flex;
  border-bottom: 1px solid rgba(0,0,0, 0.25);
}

.fas.fa-circle {
  font-size: 10px;
  color: #00a537;
  padding-right: 3px;
}

.far.fa-circle {
  font-size: 10px;
  color: rgba(51, 51, 51, 0.4);
  padding-right: 3px;
}

.user-list-name {
  flex-basis: 70%;

}

.typing-true {
  line-height: 18px;
  padding: 0px 4px 0px 4px;
  font-size: 10px;
  color: rgba(0,0,0,0.6);
}

.typing-false {
  display: none;
}

.user-buttons {
  flex-basis: 20%;
  right: 0px;
}

#show-all-check:checked ~ .inactive-user{
  background-color: #ddddde;
  font-size: 33px;
}

main {
  position: fixed;
  top: 93px;
  bottom: 0px;
  left: 232px;
  right: 182px;
  width: auto;
  background-color: #f9fbff;
  min-width: 400px;
  overflow-y: scroll;
}

.section-message-list {
  margin-bottom: 35px;
  min-width: 400px;
}

.message-row {
  display: flex;
  border-bottom: 1px solid rgba(0, 0, 0, .3);
  padding: 3px 0 3px 0;
}

.message-row-content {
  font-size: 14px;
  flex-basis: 75%;
  padding: 5px;
}

.message-row-metadata {
  display: flex;
  flex-direction: column;
  flex-basis: 20%;
  padding-right: 3px;
}

.message-row-username {
  color: #21385e;
  font-size: 12px;
  text-align: right;
}

.message-row-ts {
  font-size: 12px;
  text-align: right;
  color: #21385e;
}

.message-row-btns {
  display: flex;
  flex-direction: column;
  flex-basis: 5%;
  align-items: center;
}

.new-messages {
  position: fixed;
  bottom: 0px;
  left: 232px;
  right: 182px;
  height: 35px;
  background-color: #00F;
  min-width: 400px;
}

.new-message-input {
  box-sizing: border-box;
  position: absolute;
  right: 0px;
  left: 0px;
  width: 80%;
  height: 35px;
  font-size: 14px;
}

.message-submit-button {
  -webkit-appearance: none;
  position: absolute;
  right: 0px;
  width: 20%;
  height: 35px;
  background-color:#0d2f66;
  color:#FFF;
  font-weight:bold;
  border: solid #0d2f66 2px;
  font-size: 14px;
  vertical-align: top;
  text-align: center;
}


.update-button, .delete-button {
  background:none;
  border:none;
  color: rgba(0, 0, 0, 0.2);
  font-size: 13px;
  cursor: pointer;
  display: inline;
}

.update-button:hover, .delete-button:hover {
  color: rgba(0, 0, 0, 0.9);
}
